// https://bit.ly/3aI9YSD - universal box-sizing with inheritance.
html {
  box-sizing: content-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;

  // https://mzl.la/2KnTfHh
  // size/line-height | family
  font: 16px 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/*
  Add your custom global styles here.
  The styles provided below are a minimal suggested starting point.
*/
