.home {
  gap: 2rem;
}

.all-files {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.file {
  gap: 1rem;
}

.file h4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  white-space: normal;
}

@media (max-width: 900px) {
  .all-files {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .all-files {
    grid-template-columns: 1fr;
  }
}